* {
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}

body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;	
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-family: 'PT Sans';
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	display: block;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: #eb5346;
	border-bottom: 2px solid #252e39;
	margin-bottom: 82px;
}

.header p {
	font-size: 28px;
	font-family: 'PT Sans';
	color: #fff;
	padding: 10px;
	margin: 20px 0;
}

.logo img {
	padding: 10px;
}

.wraper {
	margin: 0 auto;
	width: 100%;
	max-width: 1150px;
	background-color: #fff;
}

.car-classes {
	display: flex;
	width: 100%;
	padding: 5px 5px 0 5px;
	margin-bottom: 50px;
}

.car-block {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: 33.3333%;
	text-align: center;
	min-height: 423px;
	padding: 5px;
	cursor: pointer;
	margin: 0 5px;
	position: relative;
}

.car-block-selector:after {
	content: url(../assets/image/icons/triangle-red.png);
	position: absolute;
	bottom: -30px;
    left: 50%;
}

.car-block p {
	display: inline-block;
    min-width: 210px;
    font-family: 'PT Sans';
    font-size: 22px;
    text-transform: uppercase;
    background-color: #252e39;
    color: #fff;
    padding: 7px 15px;
    margin: 0 auto;
    font-weight: 600;
}

.car-image {
	display: flex;
    min-height: 204.16px;
    position: relative;
    align-items: center;
    justify-content: center;
}

#car-class-mini {
	width: 85%;
    bottom: 0;
    position: absolute;
}

#car-class-medium {
	width: 92%;
    bottom: 0;
    position: absolute;
}

.car-image img {
	width: 100%;
}

.cal-cost-btn {
	padding: 5px 5px 0 5px;
}

.cal-cost-btn button{
	display: inline-block;
	font-family: 'PT Sans';
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #eb5346;
	color: #fff;
	padding: 7px 30px 2px 30px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .5s all;
}

.cal-cost-btn button:hover {
	opacity: .8;
	transition: .5s all;
}

.selector-wraper {
	display: flex;
	justify-content: space-around;
    width: 100%;
    margin-bottom: 37px;
}

.selector-arrow-down {
	opacity: 0;
	z-index: -1;
	padding: 2px;
	margin: 0 auto;
	transition: .6s all;
}

.car-constructor-wraper {
	display: flex;
	width: 100%;
	padding: 5px;
	margin-bottom: 100px;
}

.car-constructor {
	min-height: 580px;
	width: 73%;
}

.main-img {
	min-height: 336px;
	padding: 5px;
}

.main-img img {
	max-width: 625px;
}

.car-moduls-wraper {
	min-height: 133px;
}

.car-moduls-block {
	display: none;
}

.cur-car-moduls-block {
	display: block;
}

.car-moduls-block div {
	display: inline-table;
    width: 70px;
    margin-right: 15px;
    font-size: 12px;
}

.car-moduls-block p {
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    margin: 10px 0 0 0;
    color: #eb5346;
}

.car-moduls-block span {
	display: inline-block;
	width: 100%;
	height: 50px;
}

.inner-threshold span {
	background: url(../assets/image/module-icons.svg) no-repeat 95% 119%;
	background-size: 348px;
}

.doors span {
	background: url(../assets/image/module-icons.svg) no-repeat 64% 119%;
	background-size: 348px;
}

.back-bumper span {
	background: url(../assets/image/module-icons.svg) no-repeat 38% -33%;
	background-size: 500px;
    width: 80px;
}

.mirror span {
	background: url(../assets/image/module-icons.svg) no-repeat -2% -18%;
    background-size: 588px;
    width: 80px;
}

.headlights span {
	background: url(../assets/image/module-icons.svg) no-repeat 39% 96%;
    background-size: 392px;
    width: 80px;
}

.doorhandle span {
	background: url(../assets/image/module-icons.svg) no-repeat 86% -19%;
    background-size: 650px;
    width: 82px;
}

.half-hood span {
	background: url(../assets/image/module-icons.svg) no-repeat 16% 96%;
    background-size: 432px;
}

.half-fender span {
	background: url(../assets/image/module-icons.svg) no-repeat 55% -6%;
    background-size: 763px;
    width: 80px;
}

.front-bumper span {
	background: url(../assets/image/module-icons.svg) no-repeat 17% -32%;
    background-size: 500px;
    width: 80px;
}

.fog-lights span {
	background: url(../assets/image/module-icons.svg) no-repeat 104% -9%;
    background-size: 669px;
}

.hood span {
	background: url(../assets/image/module-icons.svg) no-repeat -3% 96%;
    background-size: 432px;
}

.fender span {
	background: url(../assets/image/module-icons.svg) no-repeat 69% -6%;
    background-size: 763px;
    width: 80px;
}

.price-callme {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	min-height: 65px;
}

.price {
	padding: 0 50px 14px 10px;
}

.price p {
	font-family: 'PT Sans';
    font-size: 22px;
    color: #eb5346;
    line-height: 1.5;
    margin: 0;
    border-bottom: 1px solid #252e39;
    padding: 5px;
}

.price-value span:first-child {
	font-family: 'PT Sans';
    font-size: 16px;
    color: #252e39;
    line-height: 1.5;
    padding: 2px 50px 2px 0;
}

.price-value span:nth-child(2) {
	font-family: 'PT Sans';
    font-size: 16px;
    color: #eb5346;
    line-height: 1.5;
}

.call-me-btn {
	align-self: flex-end; 
}

.call-me-btn a {
	display: inline-block;
    font-family: 'PT Sans';
    font-size: 22px;
    text-transform: uppercase;
    background-color: #252e39;
    color: #fff;
    padding: 7px 37px;
    transition: .5s all;
}

.call-me-btn a:hover {
	opacity: .8;
	transition: .5s all;
}

.constructor-menu {
	width: 27%;
	display: flex;
    justify-content: center;
}

.constructor-menu nav {
	min-width: 207px;
	min-height: 580px;
}

.service-plans {
	padding-left: 15px;
	border-left: 1px solid #000;
}

.service-plans li {
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.service-plans span {
	display: block;
	font-family: 'PT Sans';
	color: #252e39;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding: 8px 0;
}

/*#service-plans li:hover:before {
	content: url(../assets/image/icons/arrow-left-hover-red.png);
    z-index: -2;
    position: absolute;
    right: 15px;
    top: 1px;
}*/

/*#service-plans li:hover span {
	color: #fff;
}*/

.current-plan-hover:before {
	content: url(../assets/image/icons/arrow-left-hover-red.png);
    z-index: -2;
    position: absolute;
    right: 15px;
    top: 1px;
}

.current-item-menu {
	color: #fff !important;
}

.in-parts-dropdown-hover {
	content: url(../assets/image/icons/arrow-left-hover-blue.png);
    z-index: -1;
    position: absolute;
    right: 15px;
    top: 0;
}

.in-part-item span, .in-part-item i {
	color: #fff;
}	

.fa-angle-down {
	position: absolute;
    right: 45px;
    top: 8px;
    color: #000;
    transition: .5s all;
}

.fa-angle-down-rotate {
	transform: rotate(180deg);
}

.list-car-parts {
	display: none;
	margin-top: 10px;
}

.list-car-parts li {
	padding-left: 20px;
	cursor: pointer;
}

.list-car-parts a {
	display: block;
	font-family: 'PT Sans';
	color: #252e39;
	font-size: 14px;
	text-transform: uppercase;
	padding: 8px 0;
}

/*#list-car-parts li:hover:before {
	content: url(../assets/image/icons/arrow-left-hover-red.png);
    z-index: -1;
    position: absolute;
    right: 15px !important;
    top: 1px;
}*/

/*.list-car-parts li:hover a {
	color: #fff;
}*/

.list-car-part:before {
	content: url(../assets/image/icons/arrow-left-hover-red.png);
    z-index: -1;
    position: absolute;
    right: 15px !important;
    top: 1px;
}











.footer {
	height: 100px;
}